---
import boxers from "../clippath.json"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<header class="relative">
			<div class="absolute left-1/2 -translate-x-1/2 flex flex-col gap-1 justify-center items-center top-8 z-10">
				<img class="w-32 xl:w-52 h-auto" src="/logo.webp" alt="logo">
				<h1 class="text-5xl uppercase text-center font-facon bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-200 via-gray-400 to-gray-600 bg-clip-text text-transparent inline-block leading-relaxed">La Velada del Año</h1>
			</div>
		</header>
		<main>
			<section id="boxers"
			class={`flex justify-between relative
			[&>div>img]:absolute [&>div>img]:bottom-0
			[&>div>img]:w-auto
			h-[50vh] lg:h-screen pt-24 border-b border-white/10
			[&>div>img]:animate-ease-in-out [&>div>img]:animate-duration-1000
			`}>

				<div class="absolute inset-0 bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-[#131313] via-zinc-900 to-zinc-950"></div>

				<div class="relative w-full">
					<img class="left-0 h-[95%] animate-fade-right animate-delay-500 z-50" src="/boxers/coscu.webp" alt="Coscu" 
					style={boxers.coscu.clip}>
					<img class="left-[5%] h-[80%] animate-fade-right animate-delay-700 z-40" src="/boxers/mayichi.webp" alt="Mayichi" 
					style={boxers.mayichi.clip}>
					<img class="left-[15%] h-[75%] animate-fade-right animate-delay-1000 z-30" src="/boxers/viruzz.webp" alt="Viruzz" 
					style={boxers.viruzz.clip}>
					<img class="left-[26%] h-[70%] animate-fade-right animate-delay-[1300ms] z-20" src="/boxers/fernanfloo.webp" alt="Fernanfloo" 
					style={boxers.fernanfloo.clip}>
					<img class="left-[38%] h-[68%] animate-fade-right animate-delay-[1500ms] z-10" src="/boxers/la-rivers.webp" alt="La Rivers" 
					style={boxers["la-rivers"].clip}>
					<img class="left-[43%] h-[60%] animate-fade-right animate-delay-[1700ms] z-0" src="/boxers/papigavi.webp" alt="Papi Gavi" 
					style={boxers.papigavi.clip}>
				</div>
				<div class="relative w-full">
					<img class="right-0 h-[95%] animate-fade-left animate-delay-500 z-50" src="/boxers/german.webp" alt="German" 
					style={boxers.german.clip}>
					<img class="right-[5%] h-[80%] animate-fade-left animate-delay-700 z-40" src="/boxers/amouranth.webp" alt="Amouranth" 
					style={boxers.amouranth.clip}>
					<img class="right-[15%] h-[75%] animate-fade-left animate-delay-1000 z-30" src="/boxers/shelao.webp" alt="Shelao" 
					style={boxers.shelao.clip}>
					<img class="right-[28%] h-[70%] animate-fade-left animate-delay-[1300ms] z-20" src="/boxers/luzu.webp" alt="Luzu" 
					style={boxers.luzu.clip}>
					<img class="right-[38%] h-[65%] animate-fade-left animate-delay-[1500ms] z-10" src="/boxers/rivers.webp" alt="Rivers" 
					style={boxers.rivers.clip}>
					<img class="right-[43%] h-[60%] animate-fade-left animate-delay-[1700ms] z-0" src="/boxers/ampeter.webp" alt="Ampeter" 
					style={boxers.ampeter.clip}>
				</div>

				<article id="info" class="absolute z-50 mx-auto left-1/2 -translate-x-1/2 bottom-8 font-facon">
					<div class="text-center hover:[&>div>*]:scale-105 hover:[&>div>*]:transition hover:[&>div>*]:contrast-150">
						<div class="px-5 bg-white text-black -mb-2">
							<h2 class="text-3xl">1 de Julio</h2>
						</div>
						<div class="px-5 bg-black text-purple-500 -mb-4 text-7xl">
							<a href="#" class="inline-block">Ibai</a>
						</div>
						<div class="px-5 bg-white text-black items-center flex text-center justify-center">
							<a href="#" class="-mb-1">Sould All</a>
						</div>
					</div>
				</article>

				<article id="combat" class="absolute z-50 mx-auto left-1/2 -translate-x-1/2 bottom-48 font-facon" >
					<div class="px-5 bg-black pt-4 pb-2 flex justify-center">
						<h3 class="text-7xl">Mayichi</h3>
					</div>
					<span class="left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2 text-7xl block absolute text-purple-500 mt-3">
						vs.
					</span>
					<div class="px-5 bg-white text-black flex justify-center">
						<h3 class="text-7xl">Amouranth</h3>
					</div>
				</article>
			</section>
		</main>
		<footer>		
		</footer>
	</body>
</html>

<script>
	const $boxers = document.querySelector('#boxers')
	const $boxersImages = $boxers.querySelectorAll('img')
	$boxersImages.forEach($img => {
		$img.addEventListener('mouseover', (e) => {
			// console.log(e)
			const sectionImages = $img.parentNode.children // all images in  the section
			const position = Array.from(sectionImages).indexOf($img) // position of the image in the section
			const [leftBoxer, rightBoxer] = [
				$boxersImages[position], // left boxer
				$boxersImages[position +$boxersImages.length/2 ]
			]
			// console.log(leftBoxer, rightBoxer)
			// opacity the other boxers
			$boxersImages.forEach($img => {
				$img.setAttribute(
					'style',
					'filter: blur(2px) grayscale(.5); transition:all 1s ease-in-out'
				)
			})
			leftBoxer.setAttribute(
				'style',
				'filter: blur(0px) grayscale(0); transition:all .3s ease-in-out'
			)
			rightBoxer.setAttribute(
				'style',
				'filter: blur(0px) grayscale(0); transition:all .3s ease-in-out'
			)
		})
		$img.addEventListener('mouseout', (e) => {
			$boxersImages.forEach($img => {
				$img.setAttribute(
					'style',
					'filter: blur(0px) grayscale(0); transition:all .3s ease-in-out'
				)
			})
		})
	})
</script>

<style is:global>
	html{
		color-scheme: dark;
	}
	/* @font-face {
		font-family: 'Boxing';
		src: url('/fonts/BrackleyDemoItalic.ttf');
		font-weight: bold;
	}
	@font-face {
		font-family: 'Boxing Striped';
		src: url('/fonts/BrackleyDemoRegular.ttf');
		font-weight: bold;
	} */
	@font-face {
		font-family: 'Facon';
		src: url('/fonts/Facon.ttf');
		font-weight: bold;
	}
</style>